<h1><%= @list.name %></h1>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <p><%= bookmark.movie.title %></p>
      <p><%= bookmark.comment %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Back", lists_path %>
